{% extends "base.html" %}

{% block description %}
<h4>Hi! I'm Jim Shields.</h4>
<p>I've been learning to program for a while. I've worked on a few cool projects — mostly at <a href="http://hackerschool.com">Hacker School</a> — blogged about programming, and blogged about movie data analysis.</p>
{% endblock %}

{% block content %}
<div class="content">
	<div class="row">
		<a href="{{ url_for('projects') }}">
			<div class="full_width">
				<h4>Projects</h4>
				<p>Some of the most fun projects I've done.</p>
			</div>
		</a>
	</div>
	<div class="row">
		<a href="http://shieldsofdreams.tumblr.com/">
			<div class="full_width">
				<h4>Programming Blog</h4>
				<p>Blogging about my experience at Hacker School and some of the projects I've worked on.</p>
			</div>
		</a>
	</div>
	<div class="row">
		<a href="http://137to1.blogspot.com/">
			<div class="full_width">
				<h4>Movie Blog (1.37:1)</h4>
				<p>Blogging about movie data analysis — the Oscars, box office, movie tickets, etc.</p>
			</div>
		</a>
	</div>
</div>
{% endblock %}