{% extends "base.html" %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h4>Hi! I'm Jim Shields.</h4>
      <p>I've been learning to program for a while. This is just a collection of some of the most fun projects I've worked on so far.</p>
    </div>
  </div>
  <hr>
  <div class="row" id="sample">
    <div class="col-md-4">
      <h4>Thank the Academy</h4>
      <img src="static/img/thank_the_academy.png" />
    </div>
    <a href="#">
      <div class="col-md-4">
        <h4>Box Office Heatmap</h4>
        <img src="static/img/heatmap.png" />
      </div>
    </a>
    <div class="col-md-4">
      <h4>Thank the Academy</h4>
    </div>
  </div>
</div>

{% endblock %}