{% extends "index.html" %}

{% block description %}
<h4>Hi! I'm Jim Shields.</h4>
<p>This is a collection of some of the most fun projects I've worked on so far.</p>
{% endblock %}

{% block content %}

<div class="content" id="projects">
  {% for project in all_projects %}
  <div class="row">
    <a href="{{ project.url }}">
      <div class="full_width">
        <h4>{{ project.name }}</h4>
        <p>{{ project.description }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<script>
$("#index").toggleClass("active")
$("#projects").toggleClass("active")
</script>
{% endblock %}